@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

$blackcol: rgb(37, 36, 34);
$orangecol: rgb(235, 94, 40);
$hovercol: rgb(204, 197, 185);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

h1 {
  font-weight: 600;
  margin-bottom: 10px;
  color: $blackcol;
}

.error-message {
  font-weight: 600;
  margin-bottom: 10px;
  color: $orangecol;
}

h4 {
  color: $orangecol;
}

a {
  text-decoration: none;
  color: $blackcol;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid $blackcol;
  margin-bottom: 60px;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      margin-left: 20px;

      a {
        display: flex;
        align-items: center;

        svg {
          margin-right: 5px;
        }
      }

      a:hover {
        color: $hovercol;
      }
    }
  }
}

.form {
  width: 80%;
  margin: 0 auto;
}

.checkbox {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: inherit;
  label {
    margin-right: 10px;
  }
}

.form-group {
  label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
  }
  input,
  textarea,
  select,
  fieldset {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
    display: flex;
    justify-content: space-around;
  }
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background: $hovercol;
  color: $blackcol;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:disabled {
  opacity: 0.5;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.heading {
  font-weight: 500;
  margin-bottom: 30px;
  padding: 0 20px;
}
